img{
	max-width: 100%;
	max-height: 100%;
}

#main{
	margin: 0 auto;
	padding: 0 10px;
	height: 800px;
	max-width: 850px;
}

#menu{
	overflow: hidden;
}

.row.caption{
	font-style: 20px;
}
.participe{
    font-size: 40px;
/*    height: 70px;
    width: 550px;*/
    margin: auto;
}

.vote {
    font-size: 28px;
/*    height: 50px;
    width: 400px;*/
    margin: auto;
}


#modal_photo{
	max-height: 100%;
	max-width: 50%;
}

#modal_photo .modal-content{
	padding: 0;
}

#modal_photo .modal-content img.photo{
	/*max-width: 100%;*/
}
